In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\Jhon Baron\\Documents\\GitHub\\learning-py\\Pandas'

In [3]:
ls

 El volumen de la unidad C es Windows
 El nÂ£mero de serie del volumen es: 4AE0-DEA5

 Directorio de C:\Users\Jhon Baron\Documents\GitHub\learning-py\Pandas

24/07/2019  09:51 a. m.    <DIR>          .
24/07/2019  09:51 a. m.    <DIR>          ..
24/07/2019  09:46 a. m.    <DIR>          .ipynb_checkpoints
22/07/2019  11:31 a. m.             8.882 Concat DataFrame.ipynb
24/07/2019  09:47 a. m.               696 CSV and EXCEL Files.ipynb
19/07/2019  10:37 a. m.            11.379 Data Select.ipynb
16/03/2019  07:12 a. m.           434.568 data.txt
24/07/2019  09:11 a. m.            14.100 DataFrames Join.ipynb
24/07/2019  09:43 a. m.            15.785 DataFrames OP.ipynb
16/07/2019  02:09 p. m.            23.018 DataFrames..ipynb
24/07/2019  09:12 a. m.             9.601 Group by Columns.ipynb
22/07/2019  11:50 a. m.             8.726 Merge DataFrame.ipynb
22/07/2019  11:09 a. m.             9.333 Null Values.ipynb
19/07/2019  10:56 a. m.             6.808 Row Edit.ipynb
16/07/2019  01:46 p. m.             5.194 series.ipynb
15/07/2019  05:30 p. m.            55.889 testing pandas .ipynb
16/07/2019  03:00 p. m.           151.655 Testing Pandas and Plot.ipynb
24/07/2019  09:51 a. m.             8.521 testing_csv_files.xlsx
              15 archivos        764.155 bytes
               3 dirs  855.443.705.856 bytes libres

In [7]:
data = 'testing_csv_files.xlsx'

In [8]:
df = pd.read_excel(data)

In [9]:
df

    a   b   c   d
1   6  11  16  21
2   7  12  17  22
3   8  13  18  23
4   9  14  19  24
5  10  15  20  25

In [10]:
df['e'] = [26,27,28,29,30]

In [11]:
df

    a   b   c   d   e
1   6  11  16  21  26
2   7  12  17  22  27
3   8  13  18  23  28
4   9  14  19  24  29
5  10  15  20  25  30

In [12]:
df.to_excel('output.xlsx', sheet_name='Page 1')

In [14]:
pd.read_excel('output.xlsx')

    a   b   c   d   e
1   6  11  16  21  26
2   7  12  17  22  27
3   8  13  18  23  28
4   9  14  19  24  29
5  10  15  20  25  30