In [1]:
import pandas as pd

In [3]:
dict1 = {'a':[1,2,3], 'b':[4,5,6]}
df1 = pd.DataFrame(dict1, index=['i1','i2','i3'])
df1

    a  b
i1  1  4
i2  2  5
i3  3  6

In [4]:
dict2 = {'c':[11,12,13], 'd':[14,15,16]}
df2 = pd.DataFrame(dict2, index=['i1','i2','i3'])
df2

     c   d
i1  11  14
i2  12  15
i3  13  16

In [5]:
df1.join(df2)

    a  b   c   d
i1  1  4  11  14
i2  2  5  12  15
i3  3  6  13  16

In [9]:
dict1 = {'a':[1,2,3,4,5], 'b':[4,5,6,7,8]}
df1 = pd.DataFrame(dict1, index=['i1','i2','i3','i4','i5'])
df1

    a  b
i1  1  4
i2  2  5
i3  3  6
i4  4  7
i5  5  8

In [11]:
df = df1.join(df2)

In [12]:
df

    a  b     c     d
i1  1  4  11.0  14.0
i2  2  5  12.0  15.0
i3  3  6  13.0  16.0
i4  4  7   NaN   NaN
i5  5  8   NaN   NaN

In [13]:
df.dropna()

    a  b     c     d
i1  1  4  11.0  14.0
i2  2  5  12.0  15.0
i3  3  6  13.0  16.0

In [16]:
df.fillna('x')

    a  b   c   d
i1  1  4  11  14
i2  2  5  12  15
i3  3  6  13  16
i4  4  7   x   x
i5  5  8   x   x