In [1]:
import pandas as pd

In [9]:
dict1 = {'a': [1,2,3], 'b':[4,5,6], 'key_df':['c1','c2','c3']}
dict2 = {'a': [11,12,13], 'b':[14,15,16], 'key_df':['c1','c2','c3']}

In [10]:
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)

In [11]:
pd.merge(df1, df2, on='key_df')

   a_x  b_x key_df  a_y  b_y
0    1    4     c1   11   14
1    2    5     c2   12   15
2    3    6     c3   13   16

In [13]:
dict_1 = {'country':['colombia','brasil','chile'], 'temp':[20, 30, 23]}

In [20]:
dict_2 = {'country':['brasil','chile','colombia'], 'humedity':[90, 80, 70]}

In [21]:
df_1 = pd.DataFrame(dict_1)

In [22]:
df_2 = pd.DataFrame(dict_2)

In [23]:
df_1

    country  temp
0  colombia    20
1    brasil    30
2     chile    23

In [24]:
df_2

    country  humedity
0    brasil        90
1     chile        80
2  colombia        70

In [25]:
pd.merge(df_1, df_2, on='country')

    country  temp  humedity
0  colombia    20        70
1    brasil    30        90
2     chile    23        80